
.user-option{
    display: flex;
    align-items: center;
    padding: 5px;
    list-style: none;
}

.user-profile-image{
    width: 40px;
    height: 40px;
    object-fit: cover;
    border-radius: 20px;
    margin: 0px 10px ;
}